<body>
  <div class="container">
    <div class="mt-5 header">
      <img src="assets/logo/cocktails_logo.png" alt="cocktails" >
    </div>
  
    <div class=" col-4 mt-4">
      <% @cocktails.each do |cocktail| %>
        <div class="c-card">
          <%= link_to cocktail_path(cocktail) do %>
          <div class="card-img">
            <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 250, width: 350, crop: :fill %>
            <% end %>
          </div>
          <div id="card-name">
            <h2><%= cocktail.name %></h2>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  
    <div class="btn btn-primary" id="link-new">
      <h1> <%= link_to 'New Cocktail', new_cocktail_path %> </h1>
    </div>
  </div>
<br>
<br>  
<br>
<br>
<br>
<br>  
<br>
<br>
<br>
<br>  
<br>
<br>
<br>
<br>  
<br>
<br>
<br>
<br>  
<br>
<br>

</body>


