<h1>Cocktails</h1>
<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <h2><%= cocktail.name %> <%= link_to 'Show', cocktail %></h2>
    </div>
  <% end %>
</div>

<%= link_to 'New Cocktail', new_cocktail_path %>



