// Specific CSS for your home-page


.header {
  text-align: center;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-bottom: 3em;
}

.c-card {
  height: 350px;
  width: 380px;
  background-color: #D090FF;
  color: #eeedeb;
  position: relative;
  display: block;
  justify-content: space-around;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 7px;
  margin: 10px 20px 10px 0;
}

#card-link {
  color: #eeedeb;
}


.card-img {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  border-radius: 5px;
}


#card-name h2 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  color: #eeedeb;
  margin-top: 15px;
  font-size: 26px;
}

#c-table {
  background-color: #D090FF;
  text-align: center;
  width: 250px;
  border-radius: 7px;
  border-top: none;
  margin-top: 2em;
  margin-left: 3.5em;
  font-family: 'Poller One', cursive;
}

#c-table th {
  border-top: none;
  color: #653985;
}

.show {
  margin-top: 6em;
  display: flex;
  justify-content: center;
}

.show-desc {
  margin-right: 3em;
  text-align: center;
  align-items: center;
}

.show h2 {
  font-family: 'Bungee Shade', cursive;
  color: #eeedeb;
}

.btn {
  background-color: transparent;
  border: 2px, solid, #f6a44e;
  display: block;
}

.btn:hover {
  background-color: transparent;
  border: 2px, solid, #f6a44e;
}

#link-new {
  text-align: center;
  padding-top: 2em;
}

#link-new a {
  color: #f6a44e; 
  font-family: 'Poller One', cursive;
  top: 100px;
  border: 2px, solid, #f6a44e;
  width: 100px;
}

a:hover {
  text-decoration: none;
  // -webkit-box-shadow: 0px 0px 19px 0px rgba(48,217,149,1);
}

.form-inputs {
  text-align: center;
}

.form-actions {
  text-align: center;
}


